$first-color: #fff;
$second-color: #fce38a;
$third-color: #95e1d3;
$primary-red: #f38181;
$primary-dark: #333;
$primary-gray: #999;
$footer-border: #e5e5e5;
$first-font: 'Montserrat';
$second-font: 'Roboto';
$script-font: 'Kaushan Script';

/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */