// @mixin font-face($font-name, $path, $weight: normal, $style: normal) {
//     @font-face {
//         font-family: quote($font-name);
//         src: url(#{$path}.woff) format('woff'),
//         url(#{$path}.woff2) format('woff2');
//         font-weight: $weight;
//         font-style: $style;
//     }
// }
@mixin font( $font-name: $first-font, $font-size: 20px, $line-hight: 24px, $color: $primary-dark, $weight: 400) {
    font-family: $font-name;
    font-size: $font-size;
    line-height: $line-hight;
    color: $color;
    font-weight: $weight;
}

@mixin text-decoration($transform: uppercase, $decor: none) {
    text-transform: $transform;
    text-decoration: $decor;
}

@mixin transition($property: color, $duration: 200ms, $function: linear) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $function;
}