.nav-list {
    @extend %list-reset;
    display: flex;
}

.nav-list__item:not(:nth-last-of-type(1)) {
    margin-right: 55px;
}

.nav-list__link {
    @include font($primary-font, 14px, 17px, $primary-color, 400);
    @include text-decoration(uppercase, none);
    @include transition(color, 200ms, linear);
    &:hover {
        color: $secondary-color;
        &::after {
            display: block;
            background-color: rgba($secondary-color, 1);
            transform: translatey(10px);
        }
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: rgba($primary-color, 0);
        @include transition('transform, background-color', 200ms, linear);
    }
}